@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic&display=swap");

body {
	font-family: "Cormorant+Garamond", sans-serif;
	font-size: 24px;
	font-weight: 400;

}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* ===============HEADER================== */
.header {
	background-color: #fff;
	background-size: 100%;
	position: fixed;
	width: 100%;
	
}
.header__container {
	
}
.header__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.header__logo {
	flex: 1 1 20%;
	align-self: center;
	padding-top: 30px;
	padding-bottom: 30px;
	
	
}
.header__logo img{
	max-width: 100%; 
	transition: transform 0.4s;
}
.header__logo:hover img{
	transform: scale(1.1);
}
.header__menu {
	flex: 1 1 80%;
	align-self: center;
	
}
.menu-header {
}
.menu-header__list {
	display: flex;
	column-gap: 20px;
	justify-content: flex-end;
}
.menu-header__item {
}
.menu-header__item_parent {
	position: relative;
}
.menu-header__item_parent .menu-header__link {
	padding-right: 35px;
	position: relative;
}
.menu-header__item_parent .menu-header__link::after {
	content: "";
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -3px;
	width: 10px;
	height: 6px;
	background: url("../img/icons/arrow.svg") 0 0 / 100% no-repeat;
	
}
.menu-header__item_parent:hover .menu-header__link::after{
	transform: rotate(-180deg);
}
.menu-header__item_parent .menu-header__link {
	background-color: #f4f7ff;
	border-radius: 5px;
	color: #212b36;
}
.menu-header__link {
	color: #212b36;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.menu-header__link:hover {
	color: #3056d3;
}
.menu-header__item_parent:hover .sub-menu {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
}
.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	opacity: 0;
	visibility: hidden;
	padding-top: 38px;
	transform: translate(0px, 10px);
	transition: all 0.3s;
}
.menu-header__sub-menu_width {
	width: 120px;
}
.sub-menu__list {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	padding: 22px 0;
	position: relative;
}
.sub-menu__list::before {
	content: "";
	position: absolute;
	left: 10px;
	top: -10px;
	width: 0;
	height: 0;
	border-radius: 3px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
.sub-menu__item {
	padding: 0 24px;
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 13px;
}
.sub-menu__link {
	color: #637381;
	display: block;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	font-weight: 500;
	position: relative;
}
.sub-menu__item:hover .sub-menu__link {
	color: #3056d3;
}
/* =================Page======================== */
.page {
	background: url("../img/backg.jpeg") 0 0 / cover no-repeat;
}
.page__container {
}
.page__title {
	margin-top: 30%;
	color: #e7e7e7;
	text-transform: uppercase;
	font-size: 3.125rem;
	font-weight: 700;
	line-height: 2;
	text-align: center;
	animation: title-hidden 2s cubic-bezier(0,0,0.58,1);
}

 @keyframes title-hidden {
	0% {
		transform: translate(0%, -100%);
		opacity: 0;
	}
	100% {
		transform: translate( 0%, 0px);
		opacity: 1;
	}
}

@keyframes sub-title-hidden {
	0%{
		transform: translate(0%, 100%);
		opacity: 0;
	}
	100%{
		transform: translate( 0%, 0%);
		opacity: 1;
	}
}
@keyframes button-hidden {
	0%{
		transform: translate( 0%, 100%);
		opacity: 0;
	}
	100%{
		transform: translate( 0%, 0%);
		opacity: 1;
	}
}
.page__sub-title {
	color: #e7e7e7;
	text-align: center;
	font-weight: 400;
	animation: sub-title-hidden 2s linear;
}
.page__title:not(:last-child) {
	margin-bottom: 10px;
}
.page__sub-title:not(:last-child){
	margin-bottom: 40px;
}
.page__button {
	padding: 20px 0;
	text-align: center;
	animation: button-hidden 2s;
}
.page__link {
	color: #e7e7e7;
	padding: 15px 20px;
	font-size: 20px;
	text-align: center;
	border: 1px solid #e7e7e7;
	transition: all 0.3s;
}
.page__link:hover{
	background-color: #e7e7e7;
	color: #212b36;
}